---
http_interactions:
- request:
    method: get
    uri: http://maps.google.com/maps/api/directions/json?&origin=20910&destination=30032&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: ! "{\n   \"routes\" : [\n      {\n         \"bounds\" : {\n            \"northeast\"
        : {\n               \"lat\" : 39.018850,\n               \"lng\" : -77.039090\n
        \           },\n            \"southwest\" : {\n               \"lat\" : 33.73740,\n
        \              \"lng\" : -84.25902000000001\n            }\n         },\n
        \        \"copyrights\" : \"Map data ©2012 Google\",\n         \"legs\" :
        [\n            {\n               \"distance\" : {\n                  \"text\"
        : \"665 mi\",\n                  \"value\" : 1070637\n               },\n
        \              \"duration\" : {\n                  \"text\" : \"11 hours 12
        mins\",\n                  \"value\" : 40331\n               },\n               \"end_address\"
        : \"Decatur, GA 30032, USA\",\n               \"end_location\" : {\n                  \"lat\"
        : 33.741360,\n                  \"lng\" : -84.25902000000001\n               },\n
        \              \"start_address\" : \"Silver Spring, MD 20910, USA\",\n               \"start_location\"
        : {\n                  \"lat\" : 39.00420,\n                  \"lng\" : -77.039090\n
        \              },\n               \"steps\" : [\n                  {\n                     \"distance\"
        : {\n                        \"text\" : \"285 ft\",\n                        \"value\"
        : 87\n                     },\n                     \"duration\" : {\n                        \"text\"
        : \"1 min\",\n                        \"value\" : 8\n                     },\n
        \                    \"end_location\" : {\n                        \"lat\"
        : 39.00481000000001,\n                        \"lng\" : -77.039720\n                     },\n
        \                    \"html_instructions\" : \"Head \\u003cb\\u003enorthwest\\u003c/b\\u003e
        on \\u003cb\\u003e1st Ave\\u003c/b\\u003e toward \\u003cb\\u003eGrace Church
        Rd\\u003c/b\\u003e\",\n                     \"polyline\" : {\n                        \"points\"
        : \"g_amFhueuMyB|B\"\n                     },\n                     \"start_location\"
        : {\n                        \"lat\" : 39.00420,\n                        \"lng\"
        : -77.039090\n                     },\n                     \"travel_mode\"
        : \"DRIVING\"\n                  },\n                  {\n                     \"distance\"
        : {\n                        \"text\" : \"492 ft\",\n                        \"value\"
        : 150\n                     },\n                     \"duration\" : {\n                        \"text\"
        : \"1 min\",\n                        \"value\" : 24\n                     },\n
        \                    \"end_location\" : {\n                        \"lat\"
        : 39.005530,\n         [...]
